{% extends "layout.html" %}

{% block title %}
    Products
{% endblock %}

{% block main %}
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Nome</td>
                <td>Categoria</td>
                <td>Volume Bruto</td>
                <td>Uni. Medida</td>
                <td>Custo med.</td>
                <td>Custo unit.</td>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.nome }}</td>
                <td>{{ product.categoria }}</td>
                <td>{{ product.volume_bruto }}</td>
                <td>{{ product.un_medida }}</td>
                <td>{{ product.custo_medio }}</td>
                <td>{{ product.custo_un| round(2) }}</td>
            </tr>
            {% endfor %}
            <tr>
                <form action="/products" method="POST">
                    <td>
                        <input name="name" type="text" required>
                    </td>
                    <td>
                        <input name="category" type="text" required>
                    </td>
                    <td>
                        <input name="quantity" type="number" required>
                    </td>
                    <td>
                        <input name="unit" type="text" required>
                    </td>
                    <td>
                        <input name="cost" type="number" step="0.01" required>
                    </td>
                    <td><button class="btn btn-primary" type="submit">Adicionar</button></td>
                </form>
            </tr>
        </tbody>
        
    </table>


{% endblock %}